/* Alapok és háttér */
body {
    font-family: 'Obviously', ObviouslyExtd, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F50022;
    color: #FFFFFF;
    text-align: center;
}

/* Fejléc */
header {
    background-color: #3BF58D;
    color: white;
    padding: 3rem 1rem;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

/* Tartalmi kártya */
main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.card {
    background: #754844;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    max-width: 600px;
}

.snail-pic {
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin-bottom: 25px;
}

p {
    font-size: 1.5rem;
    line-height: 1.4;
    font-style: regular;
}

/* Lábjegyzet */
footer {
    background-color: #384B40;
    color: #3BF58D;
    padding: 1.5rem 0;
    font-size: 0.85rem;
}
